*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
}

.left-sidebar{
    width: 300px;
}


.heading{
    height: 150px;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.heading h3 {
    font-size: 16px;
    color: #686868;
}

.navigation{
    margin-top: 55px;
    margin-left: 30px;
    line-height: 2.3;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.navigation a{
    text-decoration: none;
    color: #b5b5b5;
}

.navigation a:hover{
    color: black;
}

.address{
    position: absolute;
    bottom: 56px;
    margin-left: 30px;
    color: #b5b5b5;
    font-size: 15px;
}

.address::after{
    content: "";
    background: #f0f0f0;
    width: 180px;
    height: 4px;
    position: absolute;
    bottom: -25px;
}

.right-sidebar{
    background-color: black;
    position: relative;
    color: white;
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
    filter: blur(2px);
    opacity: 0.5;

}
.call{
    font-size: 19px;
    position: absolute;
    top: 70px;
    right: 120px;
}

.call h4 span{
    font-size: 17px;
    color: #b5b5b5;
}
.main-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.main-text h1{
    font-size: 50px;
    line-height: 1.3;
}

.main-text h5{
    font-size: 23px;
    color: #ded9d9;
}